@tailwind base;
@tailwind components;
@tailwind utilities;

.has-schedules {
    --tw-bg-opacity: 1;
    background: linear-gradient(-135deg,rgb(31 41 55 / var(--tw-bg-opacity)) 10px,#FFF 0);
    cursor: pointer;
}

.active {
    font-weight: 700;
    border-width: 2px;
    border-color: rgb(31 41 55);
}